
$main-width:1200px;

@mixin flx($jc,$ai,$fd:row){
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}

.marginTop-10{margin-top: 10px;}
.marginTop-15{margin-top: 15px;}
.marginTop-20{margin-top: 20px;}
.marginTop-50{margin-top: 50px;}